.treeview-toplevel{
	cursor:pointer; 
	cursor:hand; 
	font-family:Verdana;  
	font-weight:bold
}

.treeview-item{
cursor:pointer; 
cursor:hand; 
text-indent:25px;
}

.horizontal-center{
	position:relative;
	top:50%;
	margin-top:-10px
}

body{
font-size:14px
}

#test{
	position:absolute;
	background-color:red;
	left:100px;
	top:100px;
	width:50px;
	height:50px;
}

#workspace-border{
	background-color: #0f0;
	position:absolute;
	width:75%;
	top: 0px;
	left:25%;
	bottom:25px
}

#issues-list-border {
	position:absolute;
	top:10px;
	bottom:70%;
	right:10px;
	left:5px;
	background-color: #f5f;
	overflow:scroll;
}

#issue-content-border {
	position:absolute;
	top:30%;
	bottom:10px;
	right:10px;
	left:5px;
	background-color: #55f;
}

#menu-border{
	background-color: #00f;
	position:absolute;
	width:25%;
	top: 0px;
	left:0px;
	bottom:25px
}

#menu
{
	position:absolute;
	top:10px;
	bottom:10px;
	right:5px;
	left:10px;
	background-color: #ff5;
	padding:3px;
}

#statusbar-border{
	background-color: #efefef;
	position:absolute;
	width:100%;
	height:25px;
	bottom: 0px;
	left:0px;
}

#statusbar
{
	position:absolute;
	top:3px;
	bottom:3px;
	right:10px;
	left:10px;
	background-color: #efefef;
}

.statusBarItem{
	border: 2px solid #c5c5c6;
	font: 8px italic;
	padding-left:10px;
	padding-right:10px;

}

.issue{
	position:absolute;
	text-align:center;
	background-color:blue;
	border:1px solid #555555;
	width: 100%
}

.issue_status_h, .issue_id_h, .issue_name_h, .issue_created_by_h, .issue_modified_h, .issue_modified_by_h{
	position:absolute;
	text-align:center;
	background-color:blue;
	border-left:1px solid #555555;
	border-right:1px solid #555555;
}

.issue_status, .issue_id, .issue_name, .issue_created_by, .issue_modified, .issue_modified_by{
	position:absolute;
	text-align:center;
	background-color:red;
	border-left:1px solid #555555;
	border-right:1px solid #555555;
}

.issue_status, .issue_status_h{
	left:0%;
	width:5%;
}

.issue_id, .issue_id_h{
	left:5%;
	width:5%;
}

.issue_name, .issue_name_h{
	left:10%;
	width:35%;
}

.issue_created_by, .issue_created_by_h{
	left:45%;
	width:20%;
}

.issue_modified, .issue_modified_h{
	left:65%;
	width:15%;
}

.issue_modified_by, .issue_modified_by_h{
	left:80%;
	width:20%;
}
