.treeview-toplevel{
	cursor:pointer; 
	cursor:hand; 
	font-family:Verdana;  
	font-weight:bold
}

.treeview-item{
cursor:pointer; 
cursor:hand; 
text-indent:25px;
}

.horizontal-center{
	position:relative;
	top:50%;
	margin-top:-10px
}

body{
font-size:14px
}

#test{
	position:absolute;
	background-color:red;
	left:100px;
	top:100px;
	width:50px;
	height:50px;
}

#workspace-border{
	background-color: #0f0;
	position:absolute;
	width:75%;
	top: 0px;
	left:25%;
	bottom:25px
}

#issues-list-border {
	position:absolute;
	top:10px;
	bottom:70%;
	right:10px;
	left:5px;
	background-color: #f5f;
	overflow:scroll;
}

#issue-content-border {
	position:absolute;
	top:30%;
	bottom:10px;
	right:10px;
	left:5px;
	background-color: #55f;
}

#menu-border{
	background-color: #00f;
	position:absolute;
	width:25%;
	top: 0px;
	left:0px;
	bottom:25px
}

#menu
{
	position:absolute;
	top:10px;
	bottom:10px;
	right:5px;
	left:10px;
	background-color: #ff5;
	padding:3px;
}

#statusbar-border{
	background-color: #efefef;
	position:absolute;
	width:100%;
	height:25px;
	bottom: 0px;
	left:0px;
}

#statusbar
{
	position:absolute;
	top:3px;
	bottom:3px;
	right:10px;
	left:10px;
	background-color: #efefef;
}

.statusBarItem{
	border: 2px solid #c5c5c6;
	font: 8px italic;
	padding-left:10px;
	padding-right:10px;

}

.issue_id, .issue_name, .issue_created, .issue_created_by, .issue_modified, .issue_modified_by, .issue_status, .issue_severity{
	position:absolute;
	text-align:center;
	background-color:red;
	border:1px solid black;
}

.issue_id{
	left:0%;
	width:5%;
}

.issue_name{
	left:5%;
	width:35%;
}

.issue_created{
	left:40%;
	width:20%;
}

.issue_created_by{
	left:60%;
	width:5%;
}

.issue_modified{
	left:65%;
	width:20%;
}

.issue_modified_by{
	left:85%;
	width:5%;
}

.issue_status{
	left:90%;
	width:5%;
}

.issue_severity{
	left:95%;
	width:5%;
}
